@import './vars';
@import './toastify';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include roboto;
  font-size: $base * 4;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn-clear {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button {
  @include roboto;
}

input,
textarea,
input::placeholder,
textarea::placeholder {
  @include roboto;
}

h1 {
  margin-bottom: $base * 5;
  font-size: $base * 7;
  font-weight: $fw-regular;
}

h5 {
  margin-bottom: $base * 2;
  font-size: $base * 5;
}

a {
  @include transition;

  color: $color-main;
  border-bottom: 1px solid;
  text-decoration: none;

  &:hover {
    border-color: transparent;
  }
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
