@import '../../assets/styles/vars';

.full-page-loader {
  @include animation-rotate;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: $color-white;
  z-index: 100;

  &__icon {
    width: 100px;
    height: 100px;

    path {
      fill: $color-main;
    }
  }
}
