@import '../../assets/styles/vars';

.logo {
  border-color: transparent;

  &__icon {
    width: 40px;
    height: auto;

    path {
      @include transition;

      fill: $color-main;
    }
  }
}

.logo:hover {
  path {
    fill: darken($color-main, 10%);
  }
}

.logo.white {
  path {
    fill: $color-white;
  }
}

.logo.white:hover {
  path {
    fill: darken($color-white, 10%);
  }
}
