@import '../../assets/styles/vars';

.header {
  padding-top: $base * 2;
  padding-bottom: $base * 2;
  box-shadow: 0 0 $base $color-gray;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
