@import './vars';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include roboto;
  font-size: $base * 4;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn-clear {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button {
  @include roboto;
}

h1 {
  font-size: $base * 7;
  font-weight: $fw-regular;
}
